---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import Skills from '../components/HomepageSkills/_skills.jsx';

const response = await fetch("https://api-ap-southeast-2.graphcms.com/v2/cl2wglc9d1y0s01yw6cx0fc4n/master",
	{
		method: 'POST',
		headers: { 'Content-Type': 'application/json' },
		body: JSON.stringify({
			query: `
			query MyQuery {
				homepages {
					buttonLabel
					subText
				}
				aboutMes {
					skillTitles
					skillDescriptions
				}
			}
      `
		})
	})

const json = await response.json();
const homePageInfo = json.data["homepages"][0];
const aboutMeInfoSkillTitles = json.data["aboutMes"][0].skillTitles;
const aboutMeInfoSkillDesc = json.data["aboutMes"][0].skillDescriptions;

---

<html lang="en">

<head>
	<MainHead title="Maysen Greenwood - Home" description="Maysen Greenwood, front-end developer" />
	<style lang="scss">
		$w-s: 750px;

		.hero {
			position: relative;
			overflow: hidden;

			@media (min-width: $w-s) {
				height: 45vw;
			}
		}

		.img {
			display: block;
			width: 100%;
			height: auto;
		}

		.gradient,
		.gradient2 {
			background-image: url('/assets/mesh-gradient.jpg');
			background-size: cover;
			pointer-events: none;
			mix-blend-mode: screen;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.gradient2 {
			mix-blend-mode: multiply;
			background-size: cover;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-left: 2rem;

			@media (min-width: $w-s) {
				padding-left: 4rem;
			}
		}

		.title {
			font-weight: 900;
			font-size: var(--f-u8);
			margin-bottom: 0.5rem;
			margin-top: 0;

			@media (min-width: $w-s) {
				font-size: var(--f-u12);
			}
		}

		.grid {
			display: grid;
			grid-gap: 2rem;

			@media (min-width: 1200px) {
				grid-template-columns: 2fr 1fr;
			}
		}

		.sectionTitle {
			font-weight: 700;
			font-size: var(--f-u8);
			margin-top: 4rem;
			margin-bottom: 2rem;
		}

		.role {
			position: relative;
			display: inline-block;
			font-weight: 900;
			color: var(--t-bg);
			background-color: var(--t-fg);
			padding: 0.25em 0.5em;
			z-index: 2;

			@media (min-width: $w-s) {
				font-size: var(--f-u3);
			}

			+.role {
				margin-left: 1em;
			}

			&:nth-of-type(1) {
				.invert {
					background-color: var(--c-pink);
				}
			}

			&:nth-of-type(2) {
				.invert {
					background-color: var(--c-blue);
				}
			}

			&:nth-of-type(3) {
				.invert {
					background-color: var(--c-green);
				}
			}

			&:hover {
				.invert {
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
				}
			}
		}

		.invert {
			position: absolute;
			color: var(--t-fg);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
			transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
		}

		.desc {
			font-size: var(--f-u2);
			margin-top: 1.5rem;
			margin-bottom: 0;
		}

		.subtitle {
			display: block;
			font-weight: 400;
			font-size: var(--f-d6);
			letter-spacing: -0.0625em;
		}

		.bio {
			line-height: 2;
			margin-bottom: 2rem;

			>span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}
		}
	</style>
</head>

<body>
	<Nav />
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<img src="https://ik.imagekit.io/maysentg/tr:w-200,h-200/self-portrait.jpg"
						style='margin-top: -2rem; border-radius: 100%'
						alt="self portrait of Maysen Greenwood, owner/developer of this website">
					<p class="lead mt-2">{ homePageInfo.subText }</p>
					<p>
						<a href="/projects" class="btn btn-primary my-2">{ homePageInfo.buttonLabel }</a>
					</p>
				</div>
			</div>
		</section>
		<section class="portfolio-block skills" style="margin-top: -3rem;">
			<div class="container">
				<div class="heading">
					<h2 class="text-center mb-5">Skills</h2>
				</div>
				<div class="row">
					<Skills skillTitle={aboutMeInfoSkillTitles[0]} skillDescription={aboutMeInfoSkillDesc[0]} skillIcon={"https://ik.imagekit.io/maysentg/star-icon.webp"} />
					<Skills skillTitle={aboutMeInfoSkillTitles[1]} skillDescription={aboutMeInfoSkillDesc[1]} skillIcon={"https://ik.imagekit.io/maysentg/light-icon.webp"} />
					<Skills skillTitle={aboutMeInfoSkillTitles[2]} skillDescription={aboutMeInfoSkillDesc[2]} skillIcon={"https://ik.imagekit.io/maysentg/settings-icon.webp"} />
				</div>
			</div>
		</section>
	</main>
	<Footer />
</body>

</html>